@model List<Plant>

<div id="image-slider" class="slideshow-container">
    @foreach (var item in Model.Select((plant,i) => (plant,i)))
    {
        <div class="mySlides">
            <div class="numbertext">@(item.i + 1) / @Model.Count</div>
            <img src="@item.plant.ImageUrl" style="width:100%" title="@item.plant.Name">
            <div class="caption">
                @item.plant.Name
            </div>
        </div>
    }

    <a class="prev" onclick="plusSlides(-1)"><i class="bi bi-caret-left"></i></a>
    <a class="next" onclick="plusSlides(1)"><i class="bi bi-caret-right"></i></a>
</div>
<br>

<div style="text-align:center">
    @foreach (var item in Model.Select((plant,i) => (plant,i)))
    {
        <span class="dot" onclick="currentSlide(@(item.i+1))"></span>
    }
</div>