@model List<allari_project.Models.Plant>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Botanical Name</th>
                <th scope="col">Type</th>
                <th scope="col">Common Names</th>
                <th scope="col">Others</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var plant in Model)
            {
                <tr>
                    <th scope="row">@plant.Id</th>
                    <td>@plant.Name</td>
                    <td>@plant.BotanicalName</td>
                    <td>@plant.Type</td>
                    <td>@plant.CommonNames</td>
                    <td><a href="@plant.Link" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a></td>
                </tr>
            }


        </tbody>
    </table>
</div>
